<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    
    <title><%= data.title %> - My movie website</title>
    <h1><%= data.title %></h1>
    <% if (data.cover) { %>
    <imgalt
      src="/upload/<%= data.cover %>"
    >
    <% } %>
    <p><%= data.description %></p>

</body>
</html>